@{
    ViewBag.Title = "Recipe";
    string filePath = "~/Recipes/" + ViewData["FileName"].ToString() + ".jpg";
}

<h2>@ViewData["RecipeName"].ToString()</h2>
<img runat="server" id="recipeSlide" src=@filePath />

