html{
    background-color: #ffcc00;
    font-family: Arial, Helvetica, sans-serif;
}

 
#cheffing{
   color: white;
   padding-right: 45%;
   padding-top: 2.5%;
   font-size: 70px;
   float: right;
}

#recipeDiv{
    width: 25%;
    display: inline-block;

}

.recipe{
    font-size: 50px;
    color: white;
    background-color: grey;
    padding-left: 25%;
    
}

#headerDiv{
    float: left;
    width: 100%;

    background-color: #2B2929;
}

.recipeButton{
    text-decoration:none;

    padding-left: .5%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center; 
    font-size: 1.4em;
    color: white;
}

.recipeButton:visited
{
    text-decoration: none;
        background-color:orange;
}

.recipeButton:hover
{
    text-decoration:none;
    background-color:orange;
    
}

.recipeButton:active
{
    background-color:orange;
}

#recipeHeaderDiv{
    width: 70%;
    border: 2px solid grey;
    margin-left: 25px;
    margin-bottom: 25px;
    background-color: white;
    display: inline-block;
    
}

#recipeTitle{
    padding-left: 25%;
}

#recipeImage{
    height: 80%;
    border: 2px solid grey;
    margin: 25px;
    background-color: white;
    float: left;
}

#ingredientsDiv{
display: inline-block;
border: 2px solid grey;
background-color: white;
margin-left: 26.5%;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 15%;
}

#instructionsDiv{
    display: inline-block;
    border: 2px solid grey;
    background-color: white;
    margin-right: 3.3%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
}

.NCLogo{
    max-height:20%;
    max-width:20%;
    float:left;
    padding-top: 3px;
    padding-bottom:3px;
    
}
